<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.file.mapper.FileInstanceMapper">

    <resultMap type="org.dows.file.entity.FileInstance" id="FileInstanceMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="settingNo" column="SETTING_NO" jdbcType="VARCHAR"/>
        <result property="publishNo" column="PUBLISH_NO" jdbcType="VARCHAR"/>
        <result property="instanceNo" column="INSTANCE_NO" jdbcType="VARCHAR"/>
        <result property="accountNo" column="ACCOUNT_NO" jdbcType="VARCHAR"/>
        <result property="accountName" column="ACCOUNT_NAME" jdbcType="VARCHAR"/>
        <result property="fileName" column="FILE_NAME" jdbcType="VARCHAR"/>
        <result property="descr" column="DESCR" jdbcType="VARCHAR"/>
        <result property="fileTyp" column="FILE_TYP" jdbcType="VARCHAR"/>
        <result property="suffix" column="SUFFIX" jdbcType="VARCHAR"/>
        <result property="url" column="URL" jdbcType="VARCHAR"/>
        <result property="md5" column="MD5" jdbcType="VARCHAR"/>
        <result property="encoding" column="ENCODING" jdbcType="VARCHAR"/>
        <result property="bytes" column="BYTES" jdbcType="INTEGER"/>
        <result property="fileInfo" column="FILE_INFO" jdbcType="VARCHAR"/>
        <result property="deleted" column="DELETED" jdbcType="BOOLEAN"/>
        <result property="dt" column="DT" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
